body{
  margin: 0;
}

::-moz-selection { 
  color: white;
  background: #4f4f4f;
}

::selection {
  color: white;
  background: #3b3b3b;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}
.background{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.button-download-disabled{
  display: none;
}

a{
	color:#00a2e8;
}

a::selection{
	color:#72d4fd;
}

.image{
  width: 100%;
  background-image: url('../img/fond.png');
  background-size: cover;
  /*background-size: 120%;*/
  background-attachment: fixed;
  height: 500px;
  background-position: center 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.image-exemple{
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  background-position: center center;
  
}
.exemple-1{
  background-image: url('../img/photo-exemple-3.png');
}
.exemple-2{
  background-image: url('../img/photo-exemple-4.png');
}
.titre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}
.titre .lettre{
  cursor:default;
  color: rgba(50,50,50,256);
  font-weight: 700;
  font-size: 75px;
  /*background-image: linear-gradient(180deg, #4f4f4f 0%, #262626 100%);*/
  
/*  text-shadow: #ffffff3c 2px 2px 2px;*/
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
/*  -webkit-text-fill-color: transparent;*/
  text-align: center;
  transition: all .1s;
}/*
.titre .lettre:hover{
  transform: translate(0,-10px);
}*/
.espace{
  width: 20px;
}
.mot{
  display: flex;
  margin-right: 20px;
}
.button-download{
  
  display: inline-block;
}

.button-download,.button-download-disabled {
  background-color: #707070;

  border-radius: 10px;
  border: 3px solid #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 350px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 0 20px #787878;
}
.button-download span,.button-download-disabled span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.button-download span:after,.button-download-disabled span:after {
  content: "\2913";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
.button-download:hover {
  background-color: rgb(39, 172, 232);
  box-shadow: 0 0 20px #7c96a1;
}
.button-download:hover span {
  padding-right: 25px;
}
.button-download:hover span:after {
  opacity: 1;
  right: 0;
}


.explication{    
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  /* bottom: 0; */
  min-height: 100%;
  justify-content: space-around;
  padding-top: 50px;
}
.updatesSection{
      
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  /* bottom: 0; */
  min-height: 100%;
  justify-content: space-around;
  padding-top: 50px;
}

.articles{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  /* bottom: 0; */
  min-height: 100%;
  justify-content: space-evenly;
  column-gap: 10px;
  row-gap: 50px;
  padding-bottom: 50px;
}
.updates{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  /* bottom: 0; */
  min-height: 100%;
  justify-content: space-evenly;
  column-gap: 10px;
  row-gap: 50px;
  padding-bottom: 50px;

}
.text-article{
  color: rgb(226, 226, 226);
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: text;
}
.titre-article{
  color: rgb(226, 226, 226);
  font-size: 24px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  cursor: text;

}
.explaination{
  cursor: default;
  transition: all 0.2s;
  min-width: 300px;
  max-width: 450px;
  min-height: 300px;
  background-color: #4f4f4f;
  border-radius: 20px;
  box-shadow: 4px 3px 10px 3px #262626;
  padding: 40px;

}
.explaination:hover{
  transform: translate(-5px,-5px);
  box-shadow: 9px 8px 10px 3px #262626;
}


.update{
  cursor: default;
  transition: all 0.2s;
  width: 80%;
  min-height: 300px;
  background-color: #4f4f4f;
  border-radius: 20px;
  box-shadow: 4px 3px 10px 3px #262626;
  padding: 40px;
}
.update img{
  display: block;
  transition: all 0.2s;
  max-width: 60%;
  margin: 0 0 30px 0;
  border-radius: 15px;
}

.update img:hover{
  max-width: 90%;
}

.update ul{
  color: rgb(226, 226, 226);
  font-size: 18px;
  font-weight: 100;
  list-style-type: "- ";
}

.update li{
  padding: 10px 0;
  cursor: text;
}

.update li img{
  cursor: default;
  user-select: none;
}

.update:hover{
  transform: translate(-5px,-5px);
  box-shadow: 9px 8px 10px 3px #262626;
}
.date-article{
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;

}

.info{
  cursor: default;
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: rgb(94, 97, 101);
  font-size: 54px;
  font-weight: 600;
  padding-right: 35%;
  margin-bottom: 100px;
  text-shadow: #222222 0 0 5px;
}

.info::selection{
	color:#333333;
    background-color: rgb(94, 97, 101);
}

.info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(94, 97, 101);
  box-shadow: #222222 0 0 5px;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.info:hover::after,
.info:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
/* Slide in */
.info {
  overflow: hidden;
}

.info::after {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.info:hover::after,
.info:focus::after{
  transform: translate3d(-80%, 0, 0);
}



.contact{    
  padding-top: 30px;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
}
.insta{
  transition: all 0.2s ease;
  filter: drop-shadow(0 0 10px #222222);
}
.insta:hover{
  transform: scale(1.02);
  filter: drop-shadow(0 0 10px #ff00a276);
}
svg path{
  width: 300px;
  fill: #707070;
  transition: all .3s;
}
.insta:hover svg path{
  fill: #ff00a2;
}
.twitter{
  transition: all 0.2s ease;
  filter: drop-shadow(0 0 10px #222222);
}
.twitter:hover{
  transform: scale(1.02);
  filter: drop-shadow(0 0 10px #000000f0);
}
.twitter:hover svg path{
  fill: #000000;
}
footer{
  cursor: default;
  background-color: #2e2e2e;
  width: 100%;
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  color:#707070;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  z-index: 1;
  box-shadow: 0 0 10px 2px #2e2e2e;
}

@media only screen and (max-width: 600px) {
  .text-article{
    font-size: 28px;
  }
  .titre-article{
    font-size: 34px;
  }
  .articles{
    column-gap: 10px;
  }

}

@media only screen and (max-width: 800px) {
  article{
    width: 80%;
  }

}

@media only screen and (hover: none) and (pointer: coarse){

  #download-button{
    display: none;
  }
  .button-download-disabled{
    display:initial;
  }
  
  }


